* { box-sizing: border-box; }

body {
  font-family: sans-serif;

}

/* ---- grid ---- */

.grid {
  /*background: #EEE;*/
  max-width: 1050px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  max-width: 350px;
  height: auto;
  float: left;
  border: 5px solid #fff;
  /*border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;*/
  /*margin: 1%;*/
  overflow: hidden;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

button {
  font-size: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 3%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.image-modal-content {
  position: relative;
  /*background-color: #fefefe;*/
  background-color: #262626;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-img-content {
  width: 60%;
  float: left;
}

.image-modal-header {
  padding: 2px 16px;
  /*background-color: #5cb85c;*/
  color: white;
  height: 15%;
  border: none;
}

.image-modal-body {
  padding: 2px 16px;
  height: 85%;
}

#modal-img {
  max-width: 100%;
  max-height: 100%;
}

.modal-user-info {
  width: 40%;
  height: 100%;
  float: left;
}

.user-info-wrapper {
  width: 90%;
  height: 90%;
  background-color: #FFF;
  margin: 5% auto;
  text-align: center;
}

#modal-user-avatar-wrapper {
  width: 150px;
  height: 150px;
  padding-top: 20px;
  margin-bottom: 40px;
}

#modal-camera {
  height: 150px;
  width: 200px;
  margin: auto;
}

#camera-vector {
  max-height: 50px;
}

#modal-camera-info {
  /*margin-left: 3%;*/
  float: left;
}

#modal-camera-setting {
  float: left;
  margin-left: 8%;
  margin-top: 5px;
}

#aperture {
  height: auto;
  width: auto;
  margin-bottom: 20px;
}

#shutter-speed {
  margin-bottom: 20px;
}

.left {
  float: left;
  margin-right: 5px;
}
